nav ul {
  list-style: none;
}

nav ul li{
  float: left;
}

nav ul li a{
  padding: 5px;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}
